# Allow rild to connect to gpsd
unix_socket_connect(audioserver, property, rild)

# /efs/maxim
allow audioserver { efs_file sec_efs_file }:dir r_dir_perms;
allow audioserver { efs_file sec_efs_file }:file r_file_perms;
