# /dev/ttySAC0
allow bluetooth bluetooth_device:chr_file { rw_file_perms ioctl };

# wcnss_filter
allow bluetooth wcnss_filter:unix_stream_socket connectto;

# /data/.cid.info
allow bluetooth wifi_data_file:file r_file_perms;
