# /dev/m2m1shot_jpeg
allow cameraserver camera_device:chr_file rw_file_perms;

# /sys/devices/virtual/camera/*/*_camfw
allow cameraserver sysfs_camera_writable:file { read open getattr };

# searching for syses nodes
allow cameraserver sysfs_camera_writable:dir search;

# /data/camera/ISP_CV
allow cameraserver camera_data_file:file r_file_perms;

# /data/media(/.*)?
allow cameraserver media_rw_data_file:dir r_dir_perms;
allow cameraserver media_rw_data_file:file r_file_perms;
