dontaudit domain kernel:system module_request;

# allow all domains to search in /sys/kernel/debug/mali
allow domain debugfs_mali:dir search;

# allow all domains to search in /sys/kernel/debug/ion
allow domain debugfs_ion:dir search;
