# sysfs
allow hal_camera_default { sysfs_virtual sysfs_camera}:dir search;
allow hal_camera_default sysfs_camera:file { read open getattr };

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

allow hal_camera_default media_rw_data_file:dir search;

vndbinder_use(hal_camera_default)
