allow hal_lineage_touch_default sysfs_input:dir search;
allow hal_lineage_touch_default sysfs_input:file rw_file_perms;

allow hal_lineage_touch_default sysfs_virtual:dir search;
allow hal_lineage_touch_default sysfs_virtual:file { open read getattr };
allow hal_lineage_touch_default sysfs_virtual:lnk_file read;
