allow hal_light_default sysfs_brightness:file { open read write getattr };
allow hal_light_default sysfs_virtual:dir search;
allow hal_light_default sysfs_virtual:file { read write open getattr };
