#### hal_wifi_default
#

# wifi_data_file
allow hal_wifi_default wifi_data_file:file { read write open };

# /efs
allow hal_wifi_default efs_file:dir search;

# /efs/wifi
allow hal_wifi_default wifi_efs_file:dir search;
allow hal_wifi_default wifi_efs_file:file { open read };

# load .ko modules
allow hal_wifi_default self:capability sys_module;
