allow hal_bluetooth_default bluetooth_device:chr_file { read write open ioctl };

allow hal_bluetooth_default bluetooth_data_file:dir { write };

allow hal_bluetooth_default wcnss_filter:unix_stream_socket connectto;

allow hal_bluetooth_default efs_file:dir search;
