# /dev/ttySAC0
allow hal_bluetooth_default bluetooth_device:chr_file { rw_file_perms ioctl };

# wcnss_filter
allow hal_bluetooth_default wcnss_filter:unix_stream_socket connectto;

# /data/.cid.info
allow hal_bluetooth_default wifi_data_file:file r_file_perms;
