# allow hal_fingerprint_default to communicate with various devices
binder_call(system_app, hal_fingerprint_default);

# kernel fp device
allow hal_fingerprint_default fingerprint_device:chr_file rw_file_perms;

# secure memory device
allow hal_fingerprint_default secmem_device:chr_file rw_file_perms;

# trust zone device
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;
allow hal_fingerprint_default tee:unix_stream_socket connectto;

# /data/biometrics/*
allow hal_fingerprint_default fingerprintd_data_file:dir create_dir_perms;
allow hal_fingerprint_default fingerprintd_data_file:file create_file_perms;
