allow netd self:capability sys_module;
allow netd gpsd:fd use;
allow netd gpsd:udp_socket { read write getopt setopt };
allow netd sysfs_virtual:dir search;
allow netd device:file { read write open };
