# modemloader
type modemloader_prop, property_type;

# mobicore (tee)
type tee_prop, property_type;

# CP-Boot Daemon
type vendor_cbd_prop, property_type;
