allow system_app sysfs_mdnie:{ file lnk_file } rw_file_perms;
allow system_app sysfs_mdnie:dir search;
allow system_app wificond:binder call;
allow system_app proc_pagetypeinfo:file { read open getattr };
allow system_app sysfs_virtual:dir search;
allow system_app sysfs_virtual:file { read open getattr };
