allow system_app sysfs_mdnie_writable:{ file lnk_file } rw_file_perms;
allow system_app sysfs_mdnie_writable:dir search;

# mobicore
allow system_app tee_device:chr_file rw_file_perms;
