#### wifiloader
#
unix_socket_connect(hal_wifi_default, property, init)

allow hal_wifi_default proc:file r_file_perms;
allow hal_wifi_default sysfs_wlan_fwpath:file setattr;
allow hal_wifi_default wifi_prop:property_service set;
allow hal_wifi_default wifi_data_file:file { open read write };

# /efs
allow hal_wifi_default efs_file:dir search;

# /efs/wifi
allow hal_wifi_default wifi_efs_file:dir search;
allow hal_wifi_default wifi_efs_file:file { open read };

# load .ko modules
allow kernel self:capability sys_module;
allow hal_wifi_default self:capability { chown dac_override sys_module };
