service nfc_hal_service /vendor/bin/hw/sec.android.hardware.nfc@1.1-service
    interface android.hardware.nfc@1.1::INfc default
    interface vendor.samsung.hardware.nfc@1.1::ISecNfc default
    class hal
    user nfc
    group nfc net_bt_admin
